body {
  background-color: #ccc;
  padding: 0;
  margin: 0;
}

.App {
  font-family: sans-serif;
  padding: 20px;
  background-color: white;
  height: 100vh;
  width: 350px;
  box-sizing: border-box;
  display: grid;
  gap: 10px;
  margin-left: auto;
}

.suggestions {
  align-self: end;
}

h3 {
  font-size: 0.8rem;
  text-transform: uppercase;
  margin: 0;
}
